@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 99;
    display: flex;
    z-index: 20; 
    position: fixed;
    background: #fff; 
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.07);
}

header nav {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between; 
}

header nav ul {
    align-items: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

header nav ul a {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
    .cool-link::after { 
        content: ''; 
        display: block; 
        width: 0;
        height: 2px; 
        background: #FD749B;
        transition: width .3s;
    } 
    .cool-link:hover::after {
        width: 100%;
    }

header nav ul button {
    /*transition: all 0.8s ease 0s;*/
    border:none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 100px;
    padding: 10px;
    width: 190px;
    height: 45px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    cursor: pointer;
    color: #ffffff;
}

    header nav ul button:hover {
        background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 128.3%);
    }

    header nav ul button a {
        color: #fff;
    }
#banner {
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    height: 700px;
    background: linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
}

    #banner svg {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    #banner svg path {
        fill: #fff;
    }

    #banner article {
        color: #fff;
        width: 55%;
    }

    #banner article h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 30px;
    }

    #banner article h4 {
        font-size: 18px;
        font-family: poppins;
        font-weight: 200;
        padding-top: 10px;
    }

    #banner figure {
        width: 40%;
    }

    #banner #content-banner {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -145px;
    }

.sobre {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

    .sobre h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FD749B;
    }

    .sobre hr {
        margin: 0 auto;
        padding: 2px;
        width: 50px;
        background-color: #FD749B;
        border:0px;
        border-radius: 100px;
    }

.texto-container {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    width: 90%;
    
}

    .texto-container article h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FD749B;
    }

    .texto-container hr {
        margin-top: 2%;
        margin-bottom: 2%;
        float: left;
        display: block;
        width: 50px;
    }

    .texto-container article p {
        padding-top: 5px;
        text-align: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }

        .texto-container article p::after,
        .texto-container article p::before {
            display: table;
            content: '';
            clear: both;
        }


    .imagem-sobre img {
        width: 100%;
        margin-left: 73px;
        margin-top: 40px;
    }

    .texto-inferior-container {
        padding-top: 10px;
    }

        .texto-inferior-container p {
            padding-top: 5px;
            text-align: left;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 2%;
        }

.parceiros {
    position: relative;
    width: 100%;
    /* height: 700px; */
    padding-top: 70px;    
}

.parceiros-background {
    height: 500px;   
    background: linear-gradient(174.48deg, #FD749B -12.41%, #281AC8 88.56%);
    z-index: 1;
    position: relative;
}

.container-branco {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;    
    border-radius: 50px;
    height: 500px;
    box-shadow: 0px 10px 19px -7px #000;
    z-index: 2;
    position: absolute;
    bottom: -10%;
    left: 11%; 
    text-align: center;
}
    .container-branco img {
        width: 80%;
        min-width: 80%;   
    }        

    .container-branco h3, .container-valores h3, .baixar-app h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        background: -webkit-linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #FD749B;
        margin-top: 50px;
        text-align: center;
    }
        .container-branco hr, .container-valores hr, .baixar-app hr {
            margin: 0 auto;
            padding: 2px;
            width: 50px;
            background-color: #FD749B;
            border:0px;
            border-radius: 100px;
            margin-top: 10px;
            margin-bottom: 35px;
        }

        .container-seta {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }

        .container-seta i {
            padding: 20px;
            font-size: 80px;
            color: #FD749B;
            cursor: pointer;
        }
.container-valores {
    max-width: 60%;
    margin: 0 auto;
}

.container-valores h3 {
    margin-top: 140px;
}

div.container-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

div.card {
    width: 240px;
    height: 240px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #dedede;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    font-family: 'Roboto', sans-serif;
}
    div.card strong {
        display: block;
        margin-bottom: 10px;
    }

    div.card span {
        text-align: justify;
        font-size: 14px;
    }

    div.card button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: none;
        background: #38A3F1;
        color: #fff;
        border-radius: 35px;
        flex: none;
        padding: 10px 45px 10px 45px;
        align-self: stretch;
        flex-grow: 0;
        margin: 20px 30px;
        cursor: pointer;
        font-weight: bold;
    }

    div.card button:focus {
        outline: -webkit-focus-ring-color auto 0px;
    }

    div.card-valores {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: flex-end;
    }

    div.card-valores h5, sup {
        font-size: 30px;
        margin-left: 3px;
        margin-right: 8px;
    }

    div.card-valores sup {
        font-size: 15px;
    }

    div.ultimo-card {
        background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
        color: #fff;
    }

    div.ultimo-card button {
        background: #fff;
        color: #333;
        font-weight: bold;
    }
.baixar-app {
    text-align: center;
    }
    .baixar-app img {
        z-index: 2;
        position: relative;
        top: -30px;
        bottom: 80px;
    }
    .baixar-app-infos hr {
        margin-bottom: 40px;
    }

    .baixar-app-infos strong {
        font-family: Poppins;
        font-weight: normal;
    }

    .baixar-app-infos {
        z-index: 2;
        position: relative;
        bottom: -50px;
        top: 70px;
    }
    
    .botoes-baixar-app {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-baixar-app {
        z-index: 1;
        position: relative;
        top: -50px;
        width: 100%;
        margin-top: 50px;
        height: 600px;
        background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    }
    
    #footer {
        margin-top: 10%;        
        background-color: #151515;
        padding-top: 25px;
        padding-bottom:50px;
        color: #fff;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
    }
    
        #footer::after,
        #footer::before {
            content: '';
            display: table;
            clear: both;
        }
    
    .footer-container {
        width: 80%;
        margin: 0 auto;
    }
    
        .footer-container h5 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 5%;
        }
    
        .footer-container p {
            color: #A2A2A2;
            font-size: 15px;
        }
    
        .footer-container::after,
        .footer-container::before {
            content: '';
            display: table;
            clear: both;
        }
    
    .footer-left {
        width: 40%;
        text-align: left;
        float: left;
        padding-right: 11%;
    }
    
        .footer-left {
            color: #A2A2A2;
        }
    
        .footer-left figure {
            width: 50%;
            display: block;
            margin-bottom: 5%;
        }
    
            .footer-left figure img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
    
            .footer-left ul {
                margin-top: 25%;        
            }
    
        .footer-left ul li {
            display: inline;
            margin-left: 3%;
            margin-right: 3%;        
        }
    
        .footer-left ul li a img {
            width: 20px;
        }
    
    .footer-center {
        width: 30%;
        text-align: left;
        float: left;
        padding-right: 11%;
    }
    
        .footer-center ul li  {
            display: block; 
            margin-bottom: 2%;       
        }
    
            .footer-center ul li a {
                color: #A2A2A2;
                font-family: Poppins;
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
            }
    
    .footer-right {
        width: 23%;
        float: right;
        text-align: left;
    }
    
        .footer-right a {
            display: block;
            padding-top: 10px;
            color: #A2A2A2;
        }
    
    .footer-copyright {
        width: 100%;
        padding-top: 2%;
        text-align: left;
    }
    
    .footer-copyright {
        width: 80%;
        font-family: Poppins;
        font-style: normal;
        font-weight: 400;
        margin: 0 auto;   
        font-size: 13px;
        color: #A2A2A2; 
    }

.slideshow-container {
    width: 60%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;    
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #FD749B;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.text-bold {
    font-weight: bolder;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    position: relative;
    z-index: 3;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FD749B;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    opacity: .6;
}

.active, .dot:hover {
    opacity: 1;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}
